<% layout('./layouts/main') %>
<% stylesheet('/public/css/error.css') -%>
<div class="error-page">
    <div>
        <h1>
            <%=error.status===undefined?404:error.status%>
        </h1>
        <p>NOT FOUND</p>
    </div>
    <div>
        <% if(error.status) { %>
        <h3>
            <% error.stack.split()[0].split("\n").forEach(element=> { %>
            <%=element%><br>
            <%})%>
        </h3>
        <% }%>
    </div>
</div>